@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --vh: 1vh;
    --fullHeight: calc(var(--vh, 1vh) * 100)
}

html[data-norefresh-on-scroll="true"] {
    overflow: hidden;
    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: var(--fullHeight);
    width: 100%;
    overflow: hidden auto;
}

.sections {
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 1s;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

ul, dl {
    list-style-type: none;
}

.invisible-microdata {
    width: 0;
    height: 0;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    position: absolute;
}
